html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Light", sans-serif;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5px;
  padding: 0;
}

.nav-link {
  display: inline-block;
  transition: 0.3s;
}

body a {
  color: black;
  text-decoration: none;
  transition: border 0.5s;
}
body a:hover {
  /* color: blue; */
  /* border-bottom: 1px black solid; */
  text-decoration: underline;
  /* font-weight: bold; */
  /* color: #4d2323; */
}

.header-container {
  border-bottom: 1px black solid;
  padding-left: 10px;
  padding-right: 10px;
}

.footer-container {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-top: 1px black solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.github {
  display: flex;
  gap: 8px;
  align-items: center;
}

.footer-img {
  height: 40px;
}
